@import './values.scss';
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
li, 
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1620px;
}