/* BASE */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-color);
  font-family: 'Roboto', sans-serif;
}

ul,
li, 
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.bold {
  font-weight: 500;
  color: var(--contrast-base-color);
}

.wrapper {
  margin: 0 auto;
  max-width: 1620px;
}

.heading {
  font-size: 48px;
  font-weight: 900;

  color: var(--contrast-base-color);
}

.main {
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 1680px) {
  
  .wrapper {
    max-width: 1200px;
  }

}

@media screen and (max-width: 1400px) {
  
  .wrapper {
    max-width: 900px;
  }

}

@media screen and (max-width: 1024px) {

  .wrapper {
    max-width: 93.75%;
  }

}

@media screen and (max-width: 610px) {

  .heading {
    font-size: 36px;
  }

}