/* Burger-menu style */

.burger-menu {
  display: none;
  cursor: pointer;
  
  &__checkbox {
    visibility: hidden;
    position: absolute;
    top: -50px;
  }

  &__icon {
    margin-top: 4px;
    display: inline-block;
    height: 21px;
    width: 40px;
    background-color: var(--contrast-base-color);
    mask-image: url('../../assets/icons/menu.svg');
    -webkit-mask-image: url('../../assets/icons/menu.svg');  

    transition: background-color 0.2s ease-in-out;
  }

}

.burger-menu__checkbox:checked ~ .burger-menu > .burger-menu__icon {

  background-color: $grey-color;

}