// colors

$base-color_theme_light: #fefefe;
$base-color_theme_dark: #333;

$additional-color_theme-light: #f2f2f2;
$additional-color_theme-dark: #4f4f4f;

$dark-color: #1b1b1b;
$base-gradient: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);