.winners {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    width: fit-content;
    margin: 1rem 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--base-color-grey);
    border: 3px solid white;
    border-radius: 0.5rem;

    &__heading {
      font-family: "Squada One", cursive;
      font-size: 40px;
      font-weight: 400;
      color: white;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
        0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
      text-transform: capitalize;
      cursor: default;
    }

    &__page-num {
      font-size: 26px;
      color: white;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
        0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
      text-transform: capitalize;
      cursor: default;
    }

    &__buttons {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.25rem;

    text-align: center;
    text-transform: uppercase;
    color: var(--base-color-dark);

    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
      0px 6px 10px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }

  &-outlet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

    margin-bottom: 1rem;

    &-header {
      --arrow-up: "↑";
      --arrow-down: "↓";
      display: flex;
      justify-content: center;
      width: 90%;

      background-color: var(--base-color-grey);

      font-family: "Squada One", cursive;
      font-size: 26px;
      font-weight: 400;
      color: white;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
        0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
      text-transform: capitalize;

      border-bottom: 2px solid white;

      &__index,
      &__image,
      &__name,
      &__wins {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid white;
        cursor: default;
      }

      &__index {
        width: 10%;
      }

      &__image {
        width: 20%;
      }

      &__name {
        width: 40%;
      }

      &__wins {
        --arrow: "";
        width: 10%;
        cursor: pointer;

        &::after {
          content: var(--arrow);
        }
      }

      &__time {
        --arrow: "";
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        cursor: pointer;

        &::after {
          content: var(--arrow);
        }
      }
    }
  }

  &-row {
    display: flex;
    width: 100%;
    font-family: "Squada One", cursive;
    font-size: 26px;
    font-weight: 400;
    border-bottom: 1px solid white;
    &__index,
    &__image,
    &__name,
    &__wins {
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid white;
      cursor: default;
    }

    &__index {
      width: 10%;
    }

    &__image {
      width: 20%;
    }

    &__name {
      width: 40%;
    }

    &__wins {
      width: 10%;
    }

    &__time {
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
    }

    &__car {
      width: 80%;
      display: inline-block;
      height: 1.5rem;
      background-color: white;

      mask-image: url(../../assets/car.svg);
      -webkit-mask-image: url(../../assets/car.svg);

      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;

      mask-position: center;
      -webkit-mask-position: center;
    }
  }
}
