/* MAIN */
body {
  background-color: var(--map-bg-color);
}

.main {
  height: 1287px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    margin-top: 60px;
  }

  &__paragraph {
    width: 790px;
    margin-top: 22px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--contrast-additional-color);
  }

  &-slider {
    --slider-item-width: 126px;
    --slider-active-index: 2;
    --slider-hidden-count: 0;
    --slider-visible-count: 5;

    height: 158px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__box {
      width: 100%;
      margin-top: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__arrow_left {
      cursor: pointer;
    }

    &__arrow_right {
      cursor: pointer;
    }

    &__arrow_left:hover,
    &__arrow_right:hover {
      background-color: var(--contrast-base-color);
    }

    &__arrow_left:active,
    &__arrow_right:active {
      background-color: var(--contrast-additional-color);
    }

    &__wrapper {
      width: 1150px;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    &__item {
      width: 126px;
      height: 126px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
            
      background: var(--map-bg-color);
      border-radius: 50%;

      // for outline gradient delays 0.1s needed
      -webkit-transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
      transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
      transition-delay: 0.1s;
      cursor: pointer;

      --before-opacity: 0;
      --before-size: 126px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: var(--before-size);
        height: var(--before-size);
        border-radius: 50%;
        z-index: -1;
        background: $image-border-gradient;
        opacity: var(--before-opacity);
        transition: opacity 0.25s ease-in-out;
      }

      &_active {
        width: 158px;
        height: 158px;
        background: none;

        -webkit-transition-delay: 0s;
        transition-delay: 0s;

        cursor: default;
        position: relative;
        --before-opacity: 1;
        --before-size: 158px;

        &>.main-slider__image {
          width: 136px;
          height: 136px;
          border-width: 7px;

          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
        }

      }

      &:hover {
        width: 158px;
        height: 158px;

        // -webkit-transition-delay: 0s;
        // transition-delay: 0s;

        &>.main-slider__image {
          width: 136px;
          height: 136px;
          border-width: 7px;

          // -webkit-transition-delay: 0.1s;
          // transition-delay: 0.1s;
        }

      }

    }
    
    &__image {
      width: 108px;
      height: 108px;
      background-size: cover;
      background-position: center;
      border: 5px solid var(--map-bg-color);
      border-radius: 50%;
      transition: height 0.25s ease-in-out, width 0.25s ease-in-out, border-width 0.25s ease-in-out;
      -webkit-transition: height 0.25s ease-in-out, width 0.25s ease-in-out, border-width 0.25s ease-in-out;
      z-index: 1;

      &_gorilla {
        background-image: url(../../assets/images/map-slider/map-slider__gorilla.png)
      }

      &_panda {
        background-image: url(../../assets/images/map-slider/map-slider__panda.png);
      }
      
      &_alligator {
        background-image: url(../../assets/images/map-slider/map-slider__alligator.png);
      }
      
      &_eagle {
        background-image: url(../../assets/images/map-slider/map-slider__eagle.png);
      }
      
      &_tiger {
        background-image: url(../../assets/images/map-slider/map-slider__tiger.png);
      }
      
      &_elephant {
        background-image: url(../../assets/images/map-slider/map-slider__elephant.png);
      }
      
      &_lion {
        background-image: url(../../assets/images/map-slider/map-slider__lion.png);
      }
      
      &_zebra {
        background-image: url(../../assets/images/map-slider/map-slider__zebra.png);
      }

    }

    &__range-input-wrapper {
      width: 245px;
      margin-top: 31px;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      left: -17px;
    }

    &__range-input {
      margin-top: 14px;

      &::-webkit-slider-thumb {
        background: var(--contrast-base-color);
      }
      
      &::-moz-range-thumb,
      &::-ms-thumb {
        background: var(--contrast-base-color);
      }
    }

    &__current-value {
      color: var(--contrast-base-color);
      font-weight: 900;
      font-size: 24px;
    }

    &__amount {
      color: $grey-color;
      font-weight: 900;
      font-size: 14px;
    }

  }

  &__button {
    margin-top: 47px;
    padding: 0px 39px;

    &::before {
      content: url('../../assets/icons/button__play.svg');
      display: inline-block;
    }  

    &:hover,
    &:active {
      padding: 0px 34px;
    }
  }

}

.main-slider:hover > .main-slider__item_active {
  transition-delay: 0.1s;
  width: 126px;
  height: 126px;

  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;

  &>.main-slider__image {
    width: 108px;
    height: 108px;
    border-width: 5px;
    
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

}

.main-slider:hover > .main-slider__item_active:hover {
  width: 158px;
  height: 158px;
  
  -webkit-transition-delay: 0s;
  transition-delay: 0s;

  &>.main-slider__image {
    width: 136px;
    height: 136px;
    border-width: 7px;

    
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

}

.map {
  width: 1200px;
  height: 498px;
  background-image: url("../../assets/images/map.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_dark {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/map_dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &__wrapper {
    width: 1199px;
    margin-top: 82px;

    position: relative;
  }

  &__pointer {
    width: 67px;
    height: 95px;
    position: absolute;
    cursor: pointer;

    &_active {
      cursor: default;
    }

    &_bg {
      width: 67px;
      height: 95px;
      position: absolute;
      background-color: $base-gradient__green;
      mask-image: url('../../assets/images/pointer_bg.png');
      -webkit-mask-image: url('../../assets/images/pointer_bg.png');

      transition: background-color 0.25s ease-in-out;
    }

    &:hover &_bg {
      background-color: rgba($pointer-color_red, 85%);
    }

    &:active &_bg,
    &_active &_bg,
    &_active:hover &_bg {
      background-color: $pointer-color_red;
    }

    // &:hover .map-tooltip {
    //   opacity: 1;
    //   pointer-events: initial;
    // }

    &_eagle {
      top: 82px;
      left: 131px;
    }

    &_alligator {
      top: 101px;
      left: 244px;
    }

    &_gorilla {
      top: 188px;
      left: 571px;
    }

    &_panda {
      top: 98px;
      left: 903px;
    }

  }

  &__image {
    height: 39px;
    width: 39px;
    position: absolute;

    top: 16px;
    left: 14px;
  }

}