/* INTERMIDEATE PAGE STYLE */
/* BASE */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  font-family: "Roboto", sans-serif;
}

ul,
li,
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.bold {
  font-weight: 500;
  color: #333;
}

.wrapper {
  margin: 0 auto;
  max-width: 1620px;
}

.heading {
  font-size: 48px;
  font-weight: 900;
  color: #333;
}

.main {
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 1680px) {
  .wrapper {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1400px) {
  .wrapper {
    max-width: 900px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 93.75%;
  }
}
@media screen and (max-width: 610px) {
  .heading {
    font-size: 36px;
  }
}
/* LOGO */
.logo {
  display: inline-block;
  height: 42px;
  width: 60px;
  background-color: #333;
  mask-image: url("../../assets/icons/logo.svg");
  -webkit-mask-image: url("../../assets/icons/logo.svg");
}

/* Burger-menu style */
.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-menu__checkbox {
  visibility: hidden;
  position: absolute;
  top: -50px;
}
.burger-menu__icon {
  margin-top: 4px;
  display: inline-block;
  height: 21px;
  width: 40px;
  background-color: #333;
  mask-image: url("../../assets/icons/menu.svg");
  -webkit-mask-image: url("../../assets/icons/menu.svg");
}

/* BUTTON */
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 245px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid #4bd8b5;
  border-radius: 3px;
  background: linear-gradient(106.89deg, rgba(75, 216, 181, 0) -14.32%, #49d6df 100.68%), #4bd8b5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #fefefe;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.button:hover {
  background: rgba(75, 216, 181, 0.7);
  border: 1px solid #4bd8b5;
}
.button:active {
  background: rgba(73, 214, 223, 0.7);
}
.button:active, .button:focus {
  outline: none;
}

/* RANGE-INPUT */
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 30px;
  background: #fefefe;
  cursor: pointer;
  margin-top: -3px;
}
.range-input::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 30px;
  background: #fefefe;
  cursor: pointer;
  margin-top: -3px;
  border: none;
  border-radius: 0;
}
.range-input::-ms-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 30px;
  background: #fefefe;
  cursor: pointer;
  margin-top: -3px;
  border: none;
  border-radius: 0;
}
.range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(189, 189, 189, 0.53);
}
.range-input:focus::-webkit-slider-runnable-track {
  background: rgba(189, 189, 189, 0.7);
}
.range-input::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(189, 189, 189, 0.53);
}
.range-input::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 0;
  color: transparent;
}
.range-input::-ms-fill-lower {
  background: rgba(189, 189, 189, 0.53);
}
.range-input:focus::-ms-fill-lower {
  background: rgba(189, 189, 189, 0.7);
}
.range-input::-ms-fill-upper {
  background: rgba(189, 189, 189, 0.53);
}
.range-input:focus::-ms-fill-upper {
  background: rgba(189, 189, 189, 0.7);
}

/* ARROW */
.arrow_left {
  width: 18px;
  height: 30px;
  background-color: #828282;
  transition: background-color 0.3s ease-in-out;
  border: none;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url("../../assets/icons/arrow-left.svg");
  -webkit-mask-image: url("../../assets/icons/arrow-left.svg");
}
.arrow_left:active, .arrow_left:focus {
  outline: none;
}
.arrow_right {
  width: 18px;
  height: 30px;
  background-color: #828282;
  transition: background-color 0.3s ease-in-out;
  border: none;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transform: rotate(180deg);
  mask-image: url("../../assets/icons/arrow-left.svg");
  -webkit-mask-image: url("../../assets/icons/arrow-left.svg");
}
.arrow_right:active, .arrow_right:focus {
  outline: none;
}

/* HEADER */
/* SWITCHER */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
}
.switch__checkbox {
  display: none;
}
.switch__slider {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: #f2f2f2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  border-radius: 50%;
  background-color: #fefefe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 2px 4px 15px 0px #060c4615;
}

.switch__checkbox:checked + .switch__slider:before {
  background-color: #1b1b1b;
}

.switch__checkbox:checked + .switch__slider {
  background-color: #4f4f4f;
}

.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.header {
  background-color: #fefefe;
  color: #333;
  box-shadow: 0px 4px 8px 0px #2c654d0c;
}
.header__h1 {
  position: absolute;
  top: -50px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.header__wrapper {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__ul {
  display: flex;
}
.header-nav__li {
  padding: 8px 39px 0px 36px;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
.header-nav__link {
  padding: 0px 4px;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
}
.header-nav__link:hover {
  border-bottom: 1px solid #333;
}
.header-nav__link_active {
  padding: 0px 4px;
  border-bottom: 1px solid;
  font-weight: 900;
  pointer-events: none;
}

/* HEADER MAX WIDTH 1024px */
@media screen and (max-width: 1024px) {
  .switch {
    right: 12.5%;
  }

  .header-nav {
    position: absolute;
    top: 94px;
    right: 0;
    box-shadow: 0px 15px 15px 0px rgba(6, 12, 70, 0.15);
    display: none;
    opacity: 0;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    transition: opacity 0.15s ease-in-out;
  }
  @keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg);
    }
    70% {
      transform: rotateX(20deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  .burger-menu__checkbox:checked ~ .header-nav {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .header-nav__ul {
    flex-direction: column;
    background-color: #fefefe;
  }
  .header-nav__li {
    box-sizing: border-box;
    padding: 15px 60px;
    font-size: 21px;
    background-color: transparent;
    border-top: 1px solid #f2f2f2;
    transition: background-color 0.2s ease-in-out;
  }
  .header-nav__li:hover {
    background-color: #f2f2f2;
  }

  .burger-menu {
    display: block;
    position: relative;
    left: 46%;
  }
}
/* HEADER 610px*/
@media screen and (max-width: 610px) {
  .header__wrapper {
    height: 92px;
  }
  .header-nav {
    width: 100%;
    top: 92px;
  }
  .header-nav__ul {
    width: 100%;
  }
  .header-nav__li {
    width: 100%;
    text-align: center;
  }

  .switch {
    right: 21.5%;
  }

  .burger-menu {
    left: 42%;
  }
}
/* MAP HEADER POSITIONING*/
.header-nav__li {
  padding: 7px 40px 0px 36px;
}

/* MAIN */
.main {
  height: 1287px;
  overflow: hidden;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__heading {
  margin-top: 60px;
}
.main__paragraph {
  width: 790px;
  margin-top: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #4f4f4f;
}
.main-slider {
  height: 158px;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-slider__box {
  width: 100%;
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slider__arrow_left {
  cursor: pointer;
}
.main-slider__arrow_right {
  cursor: pointer;
}
.main-slider__arrow_left:hover, .main-slider__arrow_right:hover {
  background-color: #333;
}
.main-slider__arrow_left:active, .main-slider__arrow_right:active {
  background-color: #4f4f4f;
}
.main-slider__wrapper {
  width: 1150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.main-slider__item {
  width: 126px;
  height: 126px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);
  border-radius: 50%;
  -webkit-transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
  transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
  cursor: pointer;
}
.main-slider__item::before {
  position: absolute;
  content: "";
  height: 165px;
  width: 165px;
  border-radius: 50%;
  background-color: #fefefe;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}
.main-slider__item_active {
  width: 158px;
  height: 158px;
  z-index: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.main-slider__item_active > .main-slider__image {
  width: 136px;
  height: 136px;
  border-width: 7px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.main-slider__item_active::before {
  opacity: 0;
}
.main-slider__item:hover {
  width: 158px;
  height: 158px;
}
.main-slider__item:hover > .main-slider__image {
  width: 136px;
  height: 136px;
  border-width: 7px;
}
.main-slider__image {
  width: 108px;
  height: 108px;
  background-size: cover;
  background-position: center;
  border: 5px solid #fefefe;
  border-radius: 50%;
  z-index: 1;
  transition: height 0.25s ease-in-out, width 0.25s ease-in-out, border-width 0.25s ease-in-out;
  -webkit-transition: height 0.25s ease-in-out, width 0.25s ease-in-out, border-width 0.25s ease-in-out;
}
.main-slider__image_gorilla {
  background-image: url(../../assets/images/map-slider/map-slider__gorilla.png);
}
.main-slider__image_panda {
  background-image: url(../../assets/images/map-slider/map-slider__panda.png);
}
.main-slider__image_alligator {
  background-image: url(../../assets/images/map-slider/map-slider__alligator.png);
}
.main-slider__image_eagle {
  background-image: url(../../assets/images/map-slider/map-slider__eagle.png);
}
.main-slider__image_tiger {
  background-image: url(../../assets/images/map-slider/map-slider__tiger.png);
}
.main-slider__image_elephant {
  background-image: url(../../assets/images/map-slider/map-slider__elephant.png);
}
.main-slider__image_lion {
  background-image: url(../../assets/images/map-slider/map-slider__lion.png);
}
.main-slider__image_zebra {
  background-image: url(../../assets/images/map-slider/map-slider__zebra.png);
}
.main-slider__range-input-wrapper {
  width: 245px;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -17px;
}
.main-slider__range-input {
  margin-top: 14px;
}
.main-slider__range-input::-webkit-slider-thumb {
  background: #333;
}
.main-slider__range-input::-moz-range-thumb, .main-slider__range-input::-ms-thumb {
  background: #333;
}
.main-slider__current-value {
  color: #333;
  font-weight: 900;
  font-size: 24px;
}
.main-slider__amount {
  color: #bdbdbd;
  font-weight: 900;
  font-size: 14px;
}
.main__button {
  margin-top: 47px;
  padding: 0px 39px;
}
.main__button::before {
  content: url("../../assets/icons/button__play.svg");
  display: inline-block;
}
.main__button:hover, .main__button:active {
  padding: 0px 34px;
}

.main-slider:hover > .main-slider__item_active {
  transition-delay: 0.1s;
  width: 126px;
  height: 126px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.main-slider:hover > .main-slider__item_active > .main-slider__image {
  width: 108px;
  height: 108px;
  border-width: 5px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.main-slider:hover > .main-slider__item_active:hover {
  width: 158px;
  height: 158px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.main-slider:hover > .main-slider__item_active:hover > .main-slider__image {
  width: 136px;
  height: 136px;
  border-width: 7px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.map {
  width: 1200px;
  height: 498px;
  background-image: url("../../assets/images/map.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.map__wrapper {
  width: 1199px;
  margin-top: 82px;
  position: relative;
}
.map__pointer {
  width: 67px;
  height: 95px;
  position: absolute;
  cursor: pointer;
}
.map__pointer_bg {
  width: 67px;
  height: 95px;
  position: absolute;
  background-color: #4bd8b5;
  mask-image: url("../../assets/images/pointer_bg.png");
  -webkit-mask-image: url("../../assets/images/pointer_bg.png");
  transition: background-color 0.25s ease-in-out;
}
.map__pointer:hover .map__pointer_bg, .map__pointer_active .map__pointer_bg {
  background-color: #eb5757;
}
.map__pointer_eagle {
  top: 82px;
  left: 131px;
}
.map__pointer_alligator {
  top: 101px;
  left: 244px;
}
.map__pointer_gorilla {
  top: 188px;
  left: 571px;
}
.map__pointer_panda {
  top: 98px;
  left: 903px;
}
.map__image {
  height: 39px;
  width: 39px;
  position: absolute;
  top: 16px;
  left: 14px;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: #fefefe;
  box-sizing: border-box;
  overflow: hidden;
}
.footer__wrapper {
  height: calc(751px - 100px - 72px);
  margin-top: 100px;
  margin-bottom: 72px;
}
.footer__logo {
  background-color: #fefefe;
}
.footer__logo-wrapper {
  display: flex;
  flex-basis: 50%;
}
.footer__top-bar {
  display: flex;
  align-items: center;
}
.footer-nav {
  display: flex;
  flex-basis: 50%;
}
.footer-nav__ul {
  display: flex;
}
.footer-nav__li {
  margin-top: 14px;
  margin-left: 11px;
  margin-right: 54px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer-nav__link {
  padding: 0px 4px;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
}
.footer-nav__link:hover {
  border-bottom: 1px solid #fefefe;
}
.footer__middle-box {
  margin-top: 64px;
  display: flex;
}
.footer-form, .footer__info-box {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  box-sizing: border-box;
}
.footer-form__heading {
  margin-top: 6px;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 900;
}
.footer-form__text-input, .footer-form__text-input::placeholder {
  width: 47.5%;
  padding: 10px 0;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 400;
  color: #e0e0e0;
  outline: none;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #bdbdbd;
}
.footer-form__fieldset {
  width: 44.25%;
  height: 103px;
  margin-top: 22px;
  border: 0.5px solid #bdbdbd;
  border-radius: 3px;
}
.footer-form__legend {
  padding: 0 5px;
  font-size: 12px;
  font-weight: 400;
  color: #bdbdbd;
}
.footer-form__textarea {
  font-size: 12px;
  font-weight: 400;
  color: #e0e0e0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  resize: none;
}
.footer-form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.footer-form__checkbox-label {
  margin: 26px 1px 0;
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
  color: #bdbdbd;
  cursor: pointer;
}
.footer-form__checkbox-pseudo {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #bdbdbd;
  border-radius: 1px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  text-align: center;
  color: #333;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}
.footer-form__checkbox:checked + .footer-form__checkbox-pseudo {
  background-color: #bdbdbd;
}
.footer-form__submit {
  width: 130px;
  height: 45px;
  margin-top: 5px;
  padding: 10px;
  position: relative;
  left: 250px;
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.footer-form__submit::after {
  content: url("../../assets/icons/footer__arrow.svg");
  display: inline-block;
}
.footer-form__submit:hover {
  border-color: #bdbdbd;
  background: none;
}
.footer-form__submit:active {
  background-color: #4f4f4f;
}
.footer-adress {
  margin: 35px 15px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #fefefe;
  font-style: normal;
}
.footer-adress__heading {
  margin-left: 15px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-socials {
  margin-left: 15px;
  display: flex;
}
.footer-socials__li {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.footer-socials__link {
  display: inline-block;
  background-color: #fefefe;
  height: auto;
  width: 20px;
  padding: 5.5px 0px;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transition: background-color 0.2s ease-in-out;
}
.footer-socials__link:hover {
  background-color: #4bd8b5;
}
.footer-socials__link:active {
  background-color: #49d6df;
}
.footer-socials__link_instagram {
  height: 20px;
  mask-image: url("../../assets/icons/instagram.svg");
  -webkit-mask-image: url("../../assets/icons/instagram.svg");
}
.footer-socials__link_twitter {
  height: 16.25px;
  mask-image: url("../../assets/icons/twitter.svg");
  -webkit-mask-image: url("../../assets/icons/twitter.svg");
}
.footer-socials__link_youtube {
  height: 13.75px;
  mask-image: url("../../assets/icons/youtube.svg");
  -webkit-mask-image: url("../../assets/icons/youtube.svg");
}
.footer-socials__link_vk {
  height: 11.41px;
  mask-image: url("../../assets/icons/vk.svg");
  -webkit-mask-image: url("../../assets/icons/vk.svg");
}
.footer__button {
  width: 275px;
  position: relative;
  top: -473px;
  left: 1345px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__hr {
  margin-top: -11px;
  margin-bottom: 25px;
  border-color: #fefefe;
  border-width: 0.5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.footer__copyrights {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #bdbdbd;
}

/* Adaptive footer */
/* MAX WIDTH 1680px */
@media screen and (max-width: 1680px) {
  .footer-nav {
    position: relative;
    left: 3px;
  }
  .footer-nav__li {
    margin-top: 17px;
    margin-left: 5px;
    margin-right: 60px;
  }
  .footer-form__heading {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .footer-form__text-input, .footer-form__text-input::placeholder {
    width: 85%;
    padding: 8px 0;
    margin-top: 13px;
  }
  .footer-form__legend {
    padding: 1px 6px;
    margin: 0 -10px;
  }
  .footer-form__fieldset {
    width: 79.5%;
  }
  .footer-form__checkbox-label {
    margin: 21px 0 0;
  }
  .footer-form__submit {
    margin-top: 6px;
    left: 248px;
  }
  .footer-adress {
    margin: 33px 10px 14px;
    line-height: 19.5px;
  }
  .footer-adress__heading {
    margin-top: -7px;
    margin-left: 10px;
  }
  .footer-socials {
    margin-left: 10px;
  }
  .footer__button {
    top: -147px;
    left: 610px;
  }
  .footer__hr {
    margin-top: -6px;
    margin-bottom: 29px;
  }
}
/* MAX WIDTH 1400px */
@media screen and (max-width: 1400px) {
  .footer__button {
    left: 460px;
  }
}
/* MAX WIDTH 1024px */
@media screen and (max-width: 1024px) {
  .footer__wrapper {
    margin-top: 96px;
    height: 900px;
  }
  .footer__top-bar {
    flex-direction: column;
    align-items: baseline;
  }
  .footer-nav {
    left: -3px;
  }
  .footer-nav__ul {
    margin-top: 26px;
    flex-direction: column;
  }
  .footer-nav__li {
    margin: 6px 0 0 0;
  }
  .footer__middle-box {
    margin-top: 18px;
    flex-direction: column;
  }
  .footer-form__text-input, .footer-form__text-input::placeholder {
    width: 64%;
  }
  .footer-form__fieldset {
    width: 59.5%;
  }
  .footer-form__submit {
    margin-top: 7px;
  }
  .footer-adress {
    margin: 33px 0px 14px;
  }
  .footer-adress__heading {
    margin-top: 62px;
    margin-left: 0;
  }
  .footer-socials {
    margin-left: 0;
  }
  .footer__button {
    left: 54%;
    top: -798px;
  }
  .footer__hr {
    margin-top: 10px;
    margin-bottom: 24px;
  }
}
/* MAX WIDTH 610px */
@media screen and (max-width: 610px) {
  .footer__wrapper {
    margin-top: 49px;
    height: 980px;
  }
  .footer-nav__ul {
    margin-top: 38px;
  }
  .footer-form__text-input, .footer-form__text-input::placeholder {
    width: 100%;
  }
  .footer-form__fieldset {
    width: 91.25%;
  }
  .footer-form__submit {
    left: 180px;
  }
  .footer-adress {
    margin-bottom: 15px;
  }
  .footer-adress__heading {
    margin-top: 39px;
  }
  .footer__button {
    left: 4%;
    top: 0;
    margin: 40px 0;
  }
  .footer__hr {
    margin-top: 79px;
    margin-bottom: 25px;
  }
}
/* MAP-PAGE adaptive*/
@media screen and (max-width: 1400px) {
  .main-slider__box {
    width: auto;
  }
}
/* MAP-PAGE 1280px*/
@media screen and (max-width: 1280px) {
  .main {
    height: 1110px;
  }
  .main-slider {
    min-width: 1080px;
    justify-content: flex-end;
  }
  .main-slider__box {
    width: 1110px;
    margin-top: 35px;
    position: relative;
    left: -10px;
  }
  .main-slider__wrapper {
    margin: 0 40px 0 0;
    width: 700px;
    justify-content: flex-start;
  }
  .main-slider__range-input-wrapper {
    margin-top: 24px;
    left: 0;
  }
  .main__button {
    margin-top: 62px;
  }

  .map {
    width: 800px;
    height: 334px;
    background-size: contain;
    transform: scaleY(1.17);
  }
  .map__wrapper {
    width: 100%;
    margin-top: 79px;
    display: flex;
    justify-content: center;
  }
  .map__pointer {
    width: 59px;
    height: 83px;
  }
  .map__pointer_bg {
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
  }
  .map__pointer_eagle {
    top: 14px;
    left: 126px;
  }
  .map__pointer_alligator {
    top: 26px;
    left: 206px;
  }
  .map__pointer_gorilla {
    top: 104px;
    left: 424px;
  }
  .map__pointer_panda {
    top: 27px;
    left: 635px;
  }
  .map__image {
    top: 16px;
    left: 10px;
  }
}
/* MAP-PAGE 1024px*/
@media screen and (max-width: 1024px) {
  .map {
    width: 800px;
  }
  .map__wrapper {
    width: 900px;
  }
}
/* MAP-PAGE 880px*/
@media screen and (max-width: 880px) {
  .main {
    height: 1009px;
  }
  .main__paragraph {
    width: 100%;
  }
  .main-slider__box {
    width: 120%;
    left: -18px;
  }
  .main-slider__wrapper {
    width: 570px;
    margin: 0 19px 0 0;
  }
  .main-slider__arrow_left {
    position: relative;
    left: 36px;
    z-index: 1;
  }
  .main__button {
    margin-top: 13px;
  }

  .map__wrapper {
    width: 600px;
    margin-top: 15px;
  }
  .map__pointer {
    width: 67px;
    height: 95px;
  }
  .map__pointer_eagle {
    top: 29px;
    left: 53px;
  }
  .map__pointer_alligator {
    top: 37px;
    left: 104px;
  }
  .map__pointer_gorilla {
    top: 91px;
    left: 268px;
  }
  .map__pointer_panda {
    top: 34px;
    left: 427px;
  }
  .map__image {
    height: 44px;
    width: 44px;
    top: 12px;
    left: 12px;
  }
}
/* MAP-PAGE 610px*/
@media screen and (max-width: 610px) {
  .main {
    /* Images and icons */
  }
  .main__heading {
    margin-top: 35px;
    font-size: 24px;
  }
  .main__paragraph {
    width: 93%;
    margin-top: 11px;
    font-size: 12px;
    line-height: 14px;
  }
  .main-slider {
    height: 85px;
  }
  .main-slider__image {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }
  .main-slider__item {
    width: 68px;
    height: 68px;
  }
  .main-slider__item::before {
    width: 89px;
    height: 89px;
  }
  .main-slider__item:hover {
    width: 85px;
    height: 85px;
  }
  .main-slider__item:hover > .main-slider__image {
    width: 75px;
    height: 75px;
    border-width: 1px;
  }
  .main-slider__item_active {
    width: 85px;
    height: 85px;
  }
  .main-slider__item_active > .main-slider__image {
    width: 75px;
    height: 75px;
    border-width: 2px;
  }

  .main-slider:hover > .main-slider__item_active {
    width: 68px;
    height: 68px;
  }
  .main-slider:hover > .main-slider__item_active > .main-slider__image {
    width: 60px;
    height: 60px;
    border-width: 1px;
  }

  .main-slider:hover > .main-slider__item_active:hover {
    width: 85px;
    height: 85px;
  }
  .main-slider:hover > .main-slider__item_active:hover > .main-slider__image {
    width: 75px;
    height: 75px;
    border-width: 2px;
  }

  .main {
    height: 780px;
  }
  .main-slider {
    min-width: 580px;
  }
  .main-slider__box {
    margin-top: 40px;
    left: -8px;
  }
  .main-slider__wrapper {
    width: 240px;
    margin: 0 5px 0 0;
  }
  .main-slider__arrow_left {
    left: 14px;
  }
  .main-slider__range-input-wrapper {
    margin-top: 20px;
    /* PP delete after cross-check */
    position: relative;
    left: 13px;
  }
  .main__button {
    margin-top: 10px;
  }

  .map {
    background-position: top;
    width: 100%;
    height: 41vw;
  }
  .map__wrapper {
    height: 50vw;
    width: 100%;
    margin-top: 49px;
  }
  .map__pointer {
    width: 33px;
    height: 46px;
  }
  .map__pointer_bg {
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .map__pointer_eagle {
    top: calc(50% + ((-243 / 180) * 50%) - 3%);
    left: calc(50% - ((56 / 60) * 50%) + 5.4%);
  }
  .map__pointer_alligator {
    top: 26px;
    left: 206px;
  }
  .map__pointer_gorilla {
    top: 104px;
    left: 424px;
  }
  .map__pointer_panda {
    top: 27px;
    left: 635px;
  }
  .map__image {
    width: 21px;
    height: 21px;
    top: 6px;
    left: 6px;
  }
}

/*# sourceMappingURL=style.css.map */
