/* MAX WIDTH 1024px */

@media screen and (max-width: 1024px) {

  .wrapper {
    max-width: 93.75%;
  }

  /* HEADER */

  .switch {
    right: 12.5%;
  }

  .header {

    &-nav {
      position: fixed;
      top: 93.5px;
      right: -37%;
      box-shadow: $burger-menu-nav__shadow;
      opacity: 0;

      transition: right 0.3s ease-in-out, opacity 0.15s ease-in-out;

      .burger-menu__checkbox:checked ~ & {
        opacity: 1;
        right: 0;
        transition: right 0.1s ease-in-out, opacity 0.3s ease-in-out;
      }

      &__ul {
        flex-direction: column;
        background-color: $base-color_theme_light
      }

      &__li {
        box-sizing: border-box;
        padding: 15px 60px;
        font-size: 21px;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $additional-color_theme-light;
        }

      }



    }

  }

  .burger-menu {
    display: block;
    position: relative;
    left: 46%;
  }

}