/* HOW IT WORKS BOX*/

.how-it-works {
  height: 783px;

  &__wrapper {
    width: 790px;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 101px;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    display: flex;
    width: 100%;
  }

  &__content {
    margin-top: 32px;

    font-size: 14px;
    font-weight: 400;
    color: $additional-color_theme-dark;
  }

  &-slider {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 790px;

    margin-top: 29px;
    overflow: hidden;

    &__item {
      min-width: 100%;
      position: relative;
      margin: 0 5px;
      left: -5px;
      cursor: pointer;
    }

    &__image {
      box-sizing: border-box;
      
      width: 100%;
      height: 323px;
      border-radius: 5px;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;

      &_1 {
        background-image: url('../../assets/images/how-it-works__image_1.png');
      }
      
      &_2 {
        background-image: url('../../assets/images/how-it-works__image_2.png');
      }
      
      &_3 {
        background-image: url('../../assets/images/how-it-works__image_3.png');
      }
      
      &_4 {
        background-image: url('../../assets/images/how-it-works__image_4.png');
      }
    }

  }

  &__range-input-wrapper {
    width: 245px;

    margin-top: 27px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__range-input {
    margin-top: 17px;

    &::-webkit-slider-thumb {
      width: 62px;
      background: $base-color_theme_dark;
      cursor: pointer;
      margin-top: -3px; 
    }
    
    &::-moz-range-thumb {
      width: 62px;
      background: $base-color_theme_dark;
      cursor: pointer;
    }
  }

  &__current-value {
    color: $base-color_theme_dark;
    font-weight: 900;
    font-size: 24px;
  }

  &__amount {
    color: $grey-color;
    font-weight: 900;
    font-size: 14px;
  }

  &__button {
    margin-top: 31px;
    padding: 0px 38px;

    &::before {
      content: url('../../assets/icons/button__play.svg');
      display: inline-block;
    }  

    &:hover,
    &:active {
      padding: 0px 34px;
    }
  }
}