/* ABOUT-BOX */

.about {
  height: 413px;
  background-color: var(--additional-color);

  overflow: hidden;
  text-shadow: 2px 4px 15px rgb(6 12 70 / 15%);

  &__wrapper {
    width: 1199px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &-item {
    width: 380px;

    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      height: 80px;
      width: 80px;
      filter: drop-shadow(2px 4px 15px rgb(6 12 70 / 15%));
    }

    &__heading {
      margin-top: 15px;

      font-size: 20px;
      font-weight: 900;
      color: var(--contrast-base-color);
    }

    &__content {
      margin-top: 16px;

      font-size: 14px;
      font-weight: 400;
      color: var(--contrast-additional-color)
    }

  }

}