/* PANDA_PAGE HEADER POSITIONING AND URL ROUTING*/

.header-nav__li {
  padding: 7px 40px 0px 36px;
}

.logo {
  mask-image: url('../../../assets/icons/logo.svg');
  -webkit-mask-image: url('../../../assets/icons/logo.svg');
}