* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}
:root {
  --white-color-data: 250, 250, 250;
  --white-color: rgb(var(--white-color-data));
  --black-color-data: 50, 50, 50;
  --black-color: rgb(var(--black-color-data));
  --grey-color-data: 130, 130, 130;
  --grey-color: rgb(var(--grey-color-data));
  --red-data: 223, 73, 109;
  --red-color: rgb(var(--red-data));
  --green-data: 75, 216, 181;
  --green-color: rgb(var(--green-data));
  --blue-data: 7, 238, 224;
  --blue-color: rgb(var(--blue-data));

  --yellow-data: 220, 201, 75;
  --yellow-color: rgb(var(--yellow-data));
}
body {
  position: relative;
  font-family: 'Alfa Slab One', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--black-color);
  background-color: var(--white-color);
  height: 100%;
}
#root {
  height: 100%;
}
