.admin-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  min-height: calc(100vh - 4rem);
  background: linear-gradient(150deg, rgba(var(--yellow-data), 0.2), rgba(var(--red-data), 0.2));
}

.admin-categories__wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-category {
  &-add {
    color: var(--yellow-color);
    justify-content: center;
    text-transform: capitalize;
    font-size: 24px;
    text-shadow: 2px 2px 0 var(--black-color);
    transition: text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

    &__plus {
      font-size: 140px;
    }

    &:hover {
      text-shadow: none;
    }
  }
}
