/* HEADER */

@import './swithcer.scss';

.header {
  background-color: $base-color_theme_light;
  color: $base-color_theme_dark;
  box-shadow: 0px 4px 8px 0px #2c654d0c;

  &__h1 {
    position: absolute;
    top: -50px;
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  &__wrapper {
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }

  &-nav {

    &__ul {
      display: flex;
    }
  
    &__li {
      padding: 8px 39px 0px 36px;
  
      font-weight: 500;
      font-size: 16px;
      text-transform: capitalize;
    }

    &__link {
      padding: 0px 4px;
      border-bottom: 1px solid transparent;

      transition: border 0.2s ease-in-out;
      -webkit-transition: border 0.2s ease-in-out;  

      &:hover {
        border-bottom: 1px solid $base-color_theme_dark;
      }

      &_active {
        padding: 0px 4px;
        border-bottom: 1px solid;
    
        font-weight: 900;
        pointer-events: none;
      }
    }
  }

}

/* HEADER MAX WIDTH 1024px */

@media screen and (max-width: 1024px) {

  .switch {
    right: 12.5%;
  }

  .header {

    &-nav {
      position: absolute;
      top: 94px;
      right: 0;
      box-shadow: $burger-menu-nav__shadow;
      display: none;
      opacity: 0;

      animation: rotateMenu 400ms ease-in-out forwards;
      transform-origin: top center;
      transition: opacity 0.15s ease-in-out;

      z-index: 2;

      @keyframes rotateMenu {

          0% {
              transform: rotateX(-90deg)
          }

          70% {
              transform: rotateX(20deg) 
          }
          
          100% {
              transform: rotateX(0deg) 
          }

      }

      .burger-menu__checkbox:checked ~ & {
        display: flex;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }

      &__ul {
        flex-direction: column;
        background-color: $base-color_theme_light;
      }

      &__li {
        box-sizing: border-box;
        padding: 15px 60px;
        font-size: 21px;
        background-color: transparent;
        border-top: 1px solid $additional-color_theme-light;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $additional-color_theme-light;
        }

      }

    }

  }

  .burger-menu {
    display: block;
    position: relative;
    left: 46%;
  }

}

/* HEADER 610px*/

@media screen and (max-width: 610px) {

  .header {
    
    &__wrapper {
      height: 92px;
    }

    &-nav {
      width: 100%;
      top: 92px;

      &__ul {
        width: 100%;
      }

      &__li {
        width: 100%;
        text-align: center;
      }

    }

  }

  .switch {
    right: 21.5%;
  }

  .burger-menu {
    left: 42%;
  }

}

