.pop-up_register-form {
  display: flex;
  flex-direction: column;

  border: 1px dashed var(--base-color-blue);
}

.register {
  &__heading {
    font-size: 20px;
    color: var(--base-color-blue);
    font-weight: normal;
    margin: 1rem;
    padding: 0.5rem;

    text-align: center;

    background-color: #f8f8ff;

    cursor: default;
    border: 1px dashed var(--base-color-blue);
    border-radius: 0.25rem;
  }

  &__inputs-wrapper {
    display: flex;
  }

  &__text-inputs-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-input {
    --validation-color-empty: transparent;
    --validation-color-accept: rgba(80, 225, 75, 0.25);
    --validation-color-reject: rgba(225, 75, 75, 0.25);
    --validation-color: var(--validation-color-empty);

    width: 30vw;
    height: 2rem;
    margin: 0.5rem 2rem;
    padding: 0 1rem;

    font-size: 16px;
    color: var(--base-color-blue);

    outline: none;
    border: none;
    border-radius: 5px 5px 0 0;

    background: var(--validation-color);
    border-bottom: 1px dashed var(--base-color-blue);
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &-button {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    margin: 1rem;

    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;

    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
      0px 6px 10px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    &:active {
      box-shadow: none;
      top: 1px;
      left: 2px;
    }

    &_addUser {
      color: var(--base-color-blue);
      background-color: white;

      &:hover {
        color: white;
        background-color: var(--base-color-blue);
      }

      &:active {
        background-color: #1371be;
      }
    }

    &_denied {
      color: white;
      background-color: rgba(225, 75, 75, 0.9);

      &:hover {
        color: white;
        background-color: rgba(225, 75, 75, 0.9);
      }

      &:active {
        background-color: rgba(225, 75, 75, 0.9);
      }
    }

    &_cancel {
      color: white;
      background-color: var(--base-color-blue);

      &:hover {
        color: white;
        background-color: #1371be;
      }
    }
  }
}
