/* POPUP MAIN */
body {
  --popup-bg-blur: 0px;
}

.header, .main, .footer {
  filter: blur(var(--popup-bg-blur));
  transition: filter 0.3s ease-in-out;
}

.popup {
  display: flex;
  position: relative;
  
  margin: 30px auto;
  width: 1200px;
  height: max-content;
  box-shadow: $testimonials-slider-item__shadow;
  background-color: var(--base-color);

  & input, 
  & select {
    outline: none;
    border: none;
    width: 100%;
    background-color: var(--base-color);
    color: var(--contrast-additional-color);
  }

  &__wrapper {
    --popup-opacity: 0;

    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;

    display: none; /* flex */
    z-index: 4;
    opacity: var(--popup-opacity);
    transition: opacity 0.3s ease-in-out;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--contrast-base-color);
      opacity: 0.4;
    }

  }

  &__close {
    width: 3%;
    min-width: 27px;
    height: 5%;
    position: absolute;
    top: 3%;
    right: 2%;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: var(--contrast-base-color);
    mask-image: url('../../assets/icons/close-cross.png');
    -webkit-mask-image: url('../../assets/icons/close-cross.png');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $popup-base-grey;
    }

    &:active {
      background-color: var(--contrast-additional-color);
    }

  }

  &__sidepic {
    width: 197px;
    background-image: url('../../assets/images/popup__image.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    width: 725px;

    &-wrapper {
      margin: 100px auto auto;
    }

  }

  &__heading {
    margin-bottom: 42px;

    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inputs-wrapper {
      width: 726px;
    }

    &__input-heading {
      font-size: 18px;
      font-weight: 700;
      color: var(--contrast-additional-color);
    }

    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_top {
        height: 65px;
      }

      &_bottom {
        margin-top: 40px;
      }

    }

    &__select_animal,
    &__animal-option {
      text-transform: capitalize;
    }

    &__fieldset {
      margin-top: 21px;

      width: 335px;
      box-sizing: border-box;
      border: 1px solid $popup-base-grey;
      border-radius: 5px;

      &_border {
        content: "";
        display: block;
        height: 32px;
        width: 1px;
        background-color: $popup-base-grey;
      }

      &_phone {
        display: flex;
        justify-content: space-around;

        .popup-form__input_phone-code {
          width: 15%;
        }

        .popup-form__input_tel {
          width: 70%;
        }

      }

      &_date {
        display: flex;
        justify-content: space-around;

        .popup-form__select_card-month,
        .popup-form__select_card-year {
          width: 45%;
        }

      }

    }

    &__box_top {

      & > .popup-form__fieldset {
        margin-top: 0;
      }

    }

    &__legend {
      padding: 0 12px;
      font-size: 14px;
      font-weight: 500;
      color: $popup-base-grey;
    }

    &__select,
    &__input {
      height: 31px;
    }

    &__submit {
      margin-top: 42px;
      margin-bottom: 79px;
      justify-content: center;
    }

  }

  &__agree-message {
    margin-top: 42px;
    width: 478px;
    font-size: 13px;
    font-weight: 500;
    color: $popup-base-grey;
    text-align: center;
  }

}


/* POP-UP 640px*/

@media screen and (max-width: 1260px) {

  .popup {

    margin: 30px;

    &__close {
      width: 4%;
      height: 2%;

      top: 2%;
      right: 3%;
    }

    &__sidepic {
      width: 32%;
      height: auto;
      background-position: left;
      background-size: cover;
    }

    &__heading {
      margin-bottom: 20px;
    }

    &__content {
      width: auto;

      &-wrapper {
        width: 92%;
        margin-top: 106px;
      }

    }

    &-form {
      width: 100%;

      &__inputs-wrapper {
        width: auto;
      }

      &__box {
        height: auto;
        flex-direction: column;
        align-items: center;

        &_top > .popup-form__fieldset {
          margin-top: 21px
        }

        &_bottom {
          margin-top: 36px;
        }
        
      }

      &__submit {
        margin-top: 37px;
        margin-bottom: 48px;
      }

    }

    &__box {

      &_checkout {
        margin-top: 36px;
      }

    }

    &__agree-message {
      width: 70%;
      margin-top: 37px;
    }

  }
  
}

/* POP-UP 320px*/

@media screen and (max-width: 580px) {
  .popup {
    margin: 15px;

    &__sidepic {
      display: none;
    }

    &__close {
      top: 1%;
    }

    &__content-wrapper {
      margin-top: 70px;
    }

    &-form {

      &__box {
        display: block;
      }

      &__fieldset {
        width: 100%;
      }

    }
    
  }
  
}
