.main {
  --game-color-data: var(--green-data);
  --game-mode-color: rgb(var(--game-color-data));

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 4rem - 63px);
  background: linear-gradient(150deg, rgba(var(--game-color-data), 0.2), rgba(var(--blue-data), 0.2));
}

.game-mode {
  --game-color-data: var(--red-data);
}

.categories__wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
