* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  --base-color-green: #6abc68;
  --base-color-red: #d33737;
  --base-color-light-red: #e87f7f;
  --base-color-blue: #726ead;
  --base-color-grey: #555;
  --base-color-dark: #1f191b;
  min-height: 100vh;
  background-color: var(--base-color-dark);

  font-family: "Comfortaa", cursive;
  color: var(--base-color-red);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
