* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  --base-color-blue: #2196f3;
  min-height: 100vh;
  color: var(--base-color-blue);
  background-color: white;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

main {
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
}

.page-outlet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scroll {
  overflow-y: hidden;
}
