* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  --base-color-blue: #2196f3;
  --game-difficulty__4x4: 1;
  --game-difficulty__6x6: 0.7;
  --game-difficulty__8x8: 0.5;
  --cards-multiplier: var(--game-difficulty__4x4);

  min-height: 100vh;
  color: var(--base-color-blue);
  background-color: white;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

main {
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
}

.page-outlet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scroll {
  overflow-y: hidden;
}
